In [ ]:
!pip install nltk
!pip install spacy==2.3.5
!pip install https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
!pip install pyresparser

In [ ]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [ ]:
import os
from pyresparser import ResumeParser
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
  
dir = 'resumes'
retrived_data = []
for file in os.listdir(dir):
 
  data = ResumeParser('/content/resumes/'+file).get_extracted_data()
  retrived_data.append(data)

df = pd.DataFrame(retrived_data)
df

,name,email,mobile_number,skills,college_name,degree,designation,experience,company_names,no_of_pages,total_experience
0,SUJITHA KAKARLA,kakarlasujitha@gmail.com,7767930271,"[Css, Rest, Electronics, Analysis, Programming...",None,[Bachelor of Engineering / Bachelor of Technol...,"[Senior Software Engineer, Software Developer]","[June 2018 - September 2020, Engineer, L&T Tec...","[Path Partner Technologies, Muktha Solutions L...",3.0,4.00
1,SOHAIL JAVA,souhail.mail@gmail.com,None,"[Css, Rest, Blaze, Process, Active directory, ...",None,None,None,"[From 11/2020 Hoofddorp– Netherlands, WORLDL...",None,4.0,0.00
2,Maulik Patel,maulik4889@gmail.com,744-219-2187,"[Process, Scrum, Analytical, Reports, Erp, Ana...",None,None,"[Developer, Senior Developer]","[Senior Developer - Liquidly, Angular, .Net Co...","[Vidres India Ceramic LTD, Asian Granito India...",2.0,9.92
3,Jyotsna Mishra,jyotsna.mishra2010@gmail.com,1762678576,"[Css, Rest, Js, Email, Unix, Process, Selenium...",None,None,None,"[1. Project Name, Domain, Client, Duration, S...",None,7.0,8.25
4,George Edward Cranmer Morgan,georgecranmermorgan@outlook.com,0741116770,"[Css, Scrum, Networking, Github, Installation,...",None,"[Degree Apprentice, Transvault Software Working]",[Developer],None,[Microsoft],NaN,0.00
5,Giorgio Ricciuti,giorgio.ricciuti@gmail.com,346-110-9598,"[Consulting, Process, Auditing, Forecasting, R...",None,"[e-commerce, B.A. University Technician in Com...","[Technical Consultant, Technical Consultant fo...","[sector (from proposals to billing), human res...","[Oracle, Accenture, Vodafone Spa, SEAT Pagine ...",12.0,0.00
6,VEERABABU LANKA,babuveeru3@gmail.com,0782832553,"[Css, Rest, Js, Email, Process, Reporting, Sel...",None,None,[.Net Developer |Software Engineer| 0782832553...,None,[Shriram Value Services Ltd Jan],NaN,0.00
7,Moumita Sarkar,moumita.sarkar@skema.edu,7518387,"[Business development, Pharmaceutical, Process...",None,"[Bachelor of Engineering, Masters in Internati...","[Business analyst, MANAGEMENT SKILLS, Orientat...","[LANGUAGES, Orientation Leader (Part-Time), Sk...","[OMICS International Pvt Ltd, Planned, Dr. Sri...",2.0,0.00
8,Personal Data PERSONAL,cemaleray@hotmail.com,7818212150,"[Css, Js, Process, Unix, Legal, Scrum, Linux, ...",None,None,[Computer Science Engineer],None,"[Microsoft, Oracle]",NaN,0.00
9,CV FRONT,marco.rinaldi.83@hotmail.it,None,"[Rest, Css, Pharmaceutical, Process, Postgresq...",None,None,"[Team Leader, Java Developer / Analyst]",None,"[Cisco, Oracle, oracle]",NaN,0.00
10,Tapasvi V,Tapasvi.parekh@gmail.com,4474955802,"[Js, Analysis, Programming, Json, .net, Pharma...",None,None,None,"[Company Name, Team Size / Duration, Project’s...",None,3.0,1.33

In [ ]:
import os
from pyresparser import ResumeParser
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
  
req_skills = ['c','c++','java','html','react']
language = ['english','german','hindi']
Req_Experience = ['one',  'two','three','four','five','six','1','2','3','4','5','6','7','8','1+','2+','3+','4+','5+','6+','7+','8+','9+']
dir = 'resumes'
retrived_data = []
for file in os.listdir(dir):
  skills = []
  languages_known = []
  exp =   []
  data = ResumeParser('/content/resumes/'+file).get_extracted_data()

  if data['email'] == 'Tapasvi.parekh@gmail.com' :
    for s in data['skills']:
      if s.lower() in req_skills:
        skills.append(s)
      if s.lower() in language:
        languages_known.append(s)
      if s.lower()  in Req_Experience:
        exp.append(s) 

    data['skills_new'] = skills  
    data['Languages_known']  =  languages_known
    data['Experience']= exp
    retrived_data.append(data)

    break

df = pd.DataFrame(retrived_data)
df

,name,email,mobile_number,skills,college_name,degree,designation,experience,company_names,no_of_pages,total_experience,skills_new,Languages_known,Experience
0,Tapasvi V,Tapasvi.parekh@gmail.com,4474955802,"[Js, Analysis, Programming, Json, .net, Pharma...",None,None,None,"[Company Name, Team Size / Duration, Project’s...",None,3,1.33,"[C, Html]",[],[]

In [ ]:
data

{'name': 'George Edward Cranmer Morgan',
 'email': 'georgecranmermorgan@outlook.com',
 'mobile_number': '0741116770',
 'skills': ['Css',
  'Scrum',
  'Networking',
  'Github',
  'Installation',
  'Mathematics',
  'Programming',
  '.net',
  'Design',
  'Sql',
  'Database',
  'C',
  'Javascript',
  'Apis',
  'C++',
  'Html',
  'Cloud',
  'Licensing',
  'Agile',
  'System',
  'Windows',
  'Finance',
  'Project management',
  'Php',
  'Security',
  'Website',
  'Api'],
 'college_name': None,
 'degree': ['Degree Apprentice, Transvault Software Working'],
 'designation': ['Developer'],
 'experience': None,
 'company_names': ['Microsoft'],
 'no_of_pages': None,
 'total_experience': 0}

In [ ]:
from datetime import date
import re

start = date(1980, 1, 1) 
end = date(2023, 1, 1)
year_range = [str(year) for year in range(start.year, end.year +1)]
req_experience = ['one',  'two','three','four','five','six','1','2','3','4','5','6','7','8','1+','2+','3+','4+','5+','6+','7+','8+','9+']

years = []
if data['experience'] is not None :
  for i in data['experience']:
    lines = i.split()
    lines = [re.sub('\D', '', i) for i in lines ]
    for item in lines:
        if len(item) > 4 :
          if len(item) > 6 :
            n = 4
            items =  [item[i:i+n] for i in range(0, len(item), n)]
            for i in items:
              if i in year_range:
                years.append(i)
          else:
            if item[-4:] in year_range:
              years.append(item[-4:])
        else:
          if item in year_range:
            years.append(item)

  years = sorted([int(i) for i in years])
  print(years)
  if len(years) > 0:
    exp = years[-1] - years[0]
    print(exp)
  else:
   
    exp = 0
    print(exp)  


if len(years) == 0:
  desig = data['designation'][0].split()
  for i in desig:
    if i in req_experience:
      years.append(i)
      break
  exp = years[0]
  print(exp)

**Main code**

In [ ]:
import os
from pyresparser import ResumeParser
import pandas as pd
import warnings
from datetime import date
import re
warnings.filterwarnings('ignore')


def get_skills(skills):
    req_skills = ['c','c++','java','html','react']
    skill = []
    for s in skills:
      if s.lower() in req_skills:
        skill.append(s)
    
    return skill    

def get_languages(skills):
    language = ['english','german','hindi']
    lang_known = []
    for s in skills:
      if s.lower() in language:
        lang_known.append(s)
  
    return lang_known    


def get_experience(experience,designation):
  start = date(1980, 1, 1) 
  end = date(2023, 1, 1)
  year_range = [str(year) for year in range(start.year, end.year +1)]
  req_experience = ['one',  'two','three','four','five','six','1','2','3','4','5','6','7','8','1+','2+','3+','4+','5+','6+','7+','8+','9+']

  years = []
  if experience is not None :
    for i in experience:
      lines = i.split()
      lines = [re.sub('\D', '', i) for i in lines ]
      for item in lines:
          if len(item) > 4 :
            if len(item) > 6 :
              n = 4
              items =  [item[i:i+n] for i in range(0, len(item), n)]
              for i in items:
                if i in year_range:
                  years.append(i)
            else:
              if item[-4:] in year_range:
                years.append(item[-4:])
          else:
            if item in year_range:
              years.append(item)

    years = sorted([int(i) for i in years])
    if len(years) > 0:
      exp = years[-1] - years[0]
      if exp <= 2:
        exp = 3
    else:
      exp = 3

  if len(years) == 0:
    if designation is not None :
      desig = designation[0].split()
      for i in desig:
        if i in req_experience:
          years.append(i)
          break

      if len(years) != 0:
        exp = years[0]
 return exp


dir = 'resumes'
retrived_data = []

for file in os.listdir(dir):

  data = ResumeParser('/content/resumes/'+file).get_extracted_data()

  skills = get_skills(data['skills'])
  lan_known = get_languages(data['skills'])
  exp =  get_experience(data['experience'],data['designation'])

  data['Skills'] = skills  
  data['Languages_known']  =  lan_known
  data['Experience']=  exp

  retrived_data.append(data)

df = pd.DataFrame(retrived_data)
df